.container {
    max-width: 1200px;
    color: white;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    padding: 20px;
}

hr{
    border-top: 2px solid black;
}    

/* FOR MAIN TITLE AND IMAGES */
.left-section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.title-container {
    text-align: left;
}

.title {
    font-size: 2.5em;
    margin-bottom: 2vh;
}

.subtitle {
    font-size: 1.2em;
    color: #ccc;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30vw;
    gap: 1vh;
}

.main-image img {
    width: 27vw;
    height: 60vh;
    border-radius: 10px;
}

.horizontal-images {
    display: flex;
    gap: 2vw;
    margin-top: 1vh;
}

.horizontal-images img {
    width: 127px;
    height: 136px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.horizontal-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* FOR MODELS, STORAGE, AND COLORS */
.product-details {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    width: fit-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 30px; 
}

.model-options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.model-option {
    background-color: transparent;
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: left;
}

.model-option:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

.model-option .details {
    display: flex;
    flex-direction: column;
}

.model-option .details span {
    color: #ccc;
    font-size: 0.9em;
}

.storage-options {
    margin-top: 20px;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.options-section {
    background-color: none;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}



.colors {
    display: flex;
    gap: 10px;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    cursor: pointer;
}

.color-circle:nth-child(1) {
    background-color: #1a4d90;
}

.color-circle:nth-child(2) {
    background-color: rgba(139, 139, 139, 0.534);
}

.color-circle:nth-child(3) {
    background-color: #e68a24;
}



.color-circle:nth-child(5) {
    background-color: #e68a24;
}

/* FOR TRADE-IN KENEME */
.trade-in-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    grid-column: 1 / -1;
    margin-top: 50px;
}

.trade-in-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;

}

.trade-in-section p {
    font-size: 15px;
    text-align: left;
}

.trade-in-buttons {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.yes, 
.no { 
    background: transparent;
    padding: 5px;
    border-radius: 8px;
    width: 46.5%;
    text-align: center;
    color: white;
    border: 1px solid #69a9f7;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.no p {
    text-align: center;
}

.yes:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

.no:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

/* FOR PAYMENT OPTION */
.payment-options {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    grid-column: 1 / -1;
    margin-top: 40px;
}

.payment-options h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.payment1 {
    background: transparent;
    padding: 5px;
    border-radius: 8px;
    width: 29%;
    text-align: left;
    color: white;
    border: 1px solid #69a9f7;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.payment2 {
    background: transparent;
    padding: 5px;
    border-radius: 8px;
    width: 29%;
    text-align: left;
    color: white;
    border: 1px solid #69a9f7;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.payment3 {
    background: transparent;
    padding: 5px;
    border-radius: 8px;
    width: 29%;
    text-align: left;
    color: white;
    border: 1px solid #69a9f7;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.payment1:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

.payment2:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

.payment3:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

/* FOR ONE-TIME KENEME */
.one-time {
    grid-column: 1 / -1;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 20px;
    width: 95%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.one-time-content {
    display: flex;
    align-items: center;  
    gap: 20px;
}

.credit-card-image {
    width: 90px;  
    height: auto;  
}

.one-time-text h3 {
    margin: 0;  
    font-size: 25px; 
}

.one-time-text p {
    margin: 0;  
    font-size: 16px; 
}

/* PAYMENT DETAILS KENEME */
.payment-details {
    grid-column: 1 / -1;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 20px;
    width: 95%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.anada-details {
    text-align: center;
    margin-bottom: 20px;
}

.anada-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.anada-details p {
    text-align: left;
}


.product-header {
    margin-bottom: 20px;
}

.penex {
    font-size: 30px;
}

.forty-one {
    font-size: 25px;
}

.shipping-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.line-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total {
    font-weight: bold;
    font-size: 18px;
}

.button-container {
    text-align: center; 
    margin-top: 20px; 
}

.continue-button {
    padding: 10px 20px;
    background-color: #002b5e;
    color: white;
    border: none;
    border-radius: 5%;
    font-size: 25px;
    cursor: pointer;
}

.continue-button:hover {
    background-color: #004080; 
}



.store-content {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.store-image {
    width: 90px;
    height: auto;
}

.store-text h3 {
    margin: 0;
    font-size: 25px;
}

.store-text p {
    margin: 0;
    font-size: 16px;
}

.delivery-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 250px ;
}

.delivery-image {
    width: 80px; 
    height: auto;
}

.delivery-text {
    margin: 10px;
    font-size: 16px;
}

.get-it {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 200px ;
    font-size: 16px;
}

.pricing {
    margin-top: 20px;
}

.price-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
}
/* FOR JS */
.option.active {
    border-color: #101417;
    background-color: transparent;
    transform: scale(1.05);
    border: 5px solid lightblue;
}