{% extends 'master.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="left-container">
    <div class="centerdiv">
        <div class="content">
            <h1>Welcome to Cellestial!</h1>
            <p>Unlock the future today. It's your moment. Shape it with innovation. Sign in to explore and manage your devices.</p>
        </div>
        <form action="{% url 'users:Login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username"> {{ form.username.label }}</label>
                {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                <label for="username"> {{ form.password.label }}</label>
                {{ form.password }}
                    {% if form.password.errors %}
                        <div class="error">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
            </div>
            <div class="action-buttons">
                <button type="submit" class="submit" name="sign_in">Login</button>
                <p>Don't have an account? <a href="{% url 'users:Register' %}">Register</a></p>
            </div>
        </form>

        <!-- <div class="signinbutt"><a href=""><button>Sign in</button></a></div>
        ________________________________________________
        <div class="continue"><button><img src="{% static 'google.png' %}" alt="">Sign in with Google</button></div>
        <div class="continue"><button><img src="{% static 'facebook.png' %}" alt="">Sign in with Facebook</button></div>
        <div class="continue"><button><img src="{% static 'apple.png' %}" alt="">Sign in with Apple</button></div>
        <h3>Don't have an account? <a href="signup.html">Sign Up</a></h3>
        <h4> © 2024 CELLESTIAL</h4> -->
    </div>
</div>

<div class="right-container">
    <img src="{% static 'log/login.png' %}" alt="Phone in hand">                    
</div>
        

{% endblock %}
