<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about_us.css' %}">
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="showcase">
        <div class="container">
            <h1>Cellestial</h1>
            <p>We are committed to delivering the best service to our customers.</p>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <h2>About Us</h2>
            <p>At Cellestial, we are passionate about connecting people through cutting-edge mobile technology. As a leading phone e-commerce platform, we offer a wide range of the latest smartphones, accessories, and gadgets to meet the diverse needs of our customers. Our mission is to provide an exceptional online shopping experience, combining convenience, competitive pricing, and unparalleled customer service. Whether you're looking for the newest releases or reliable classics, Cellestial is your trusted destination for all things mobile. Join us on our journey to make the world more connected, one phone at a time.</p>
            <p>Founded in 2015, Cellestial began as a small startup with a big vision: to revolutionize the way people shop for mobile technology. Our journey started with a handful of passionate tech enthusiasts who believed in the power of innovation and customer-centric service. Over the years, we have grown exponentially, expanding our product range and enhancing our platform to meet the evolving needs of our customers. From our humble beginnings in a small office, we have become a leading name in the phone e-commerce industry, known for our commitment to quality and excellence. Today, Cellestial continues to push the boundaries of what's possible, always striving to deliver the best products and services to our valued customers. Our history is a testament to our dedication, resilience, and the trust our customers place in us.</p>
        </div>
    </section>
</body>
</html>