<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Cellestial</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'cart.css' %}">

</head>
<body>
    <div class="container">
        <header>
            <div class="top-banner">
                <p>Sign up and get 20% off to your first order. <a href="#">Sign Up Now</a></p>

                <button> X </button>
            </div>
<!-- 
            <nav class="navbar">
                <h1 class="logo">Celestial</h1>
                <ul class="menu">
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">On Sale</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Brands</a></li>
                </ul>
                <input type="text" class="search-bar" placeholder="Search for products...">
                <div class="cart-icons">
                    <a href="#" class="cart"> 🛒 </a>
                </div>
            </nav> -->


        </header>

        <main>
            <h2> Your cart </h2>
            <div class="cart-content">
                
                <div class="cart-items">
                    <div class="cart-item">
                        <img class="item-img" src="{% static 'img1.png' %}" alt="Myphone Janjalani">
                        <div class="item-info">
                            <h3>Myphone Janjalani</h3>
                            <p>Model: Janjalani</p>
                            <p>Color: <span class="color">White</span></p>
                            <p class="price">₱1234.567</p>
                        </div>
                        <div class="item-quantity">
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </div>
                        <button class="delete" data-item-id="1">🗑️</button>
                    </div>
                
                    
                    <div class="cart-item">
                        <img class="item-img" src="{% static 'img2.png' %}" alt="Myphone Pro">
                        <div class="item-info">
                            <h3>Myphone Pro</h3>
                            <p>Model: Pro</p>
                            <p>Color: <span class="color">Red</span></p>
                            <p class="price">₱1234.567</p>
                        </div>
                        <div class="item-quantity">
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </div>
                        <button class="delete" data-item-id="2">🗑️</button>
                    </div>
                
                   
                    <div class="cart-item">
                        <img class="item-img" src="{% static 'img3.png' %}" alt="Iphone Pro Max 15">
                        <div class="item-info">
                            <h3>Iphone Pro Max 15</h3>
                            <p>Model: Pro Max 15</p>
                            <p>Color: <span class="color">Blue</span></p>
                            <p class="price">₱1234.567</p>
                        </div>
                        <div class="item-quantity">
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </div>
                        <button class="delete" data-item-id="3">🗑️</button>
                    </div>

                    <div class="cart-item">
                        <img class="item-img" src="{% static 'img3.png' %}" alt="Iphone Pro Max 15">
                        <div class="item-info">
                            <h3>Iphone Pro Max 15</h3>
                            <p>Model: Pro Max 15</p>
                            <p>Color: <span class="color">Blue</span></p>
                            <p class="price">₱1234.567</p>
                        </div>
                        <div class="item-quantity">
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </div>
                        <button class="delete" data-item-id="4">🗑️</button>
                    </div>   
                    
                </div>
                

                <aside class="order-summary">

                    <h3>Order Summary</h3>

                    <p>Subtotal <span> ₱{{ subtotal }} </span></p>
                    <p>Discount (-20%) <span> -₱{{ discount }} </span></p>
                    <p>Delivery Fee <span> ₱{{ delivery_fee }} </span></p>
                    <p>Value Added Tax <span> ₱{{ vat }} </span></p>
                    <p>Total <span> ₱{{ total }} </span></p>

                    <input type="text" placeholder="Add promo code">

                    <button>Apply</button>
                    <button class="checkout-btn"> Go to Checkout ➔ </button>

                </aside>

            </div>
        </main>
    </div>
</body>
</html>
