{% extends 'master.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <!-- Nunito Font: Alternative for ABeeZee Font  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="left-container">
    <div class="centerdiv">
        <div class="content">
            <h1>Welcome to Cellestial!</h1>
            <p>Unlock the future today. It's your moment. Shape it with innovation. Sign in to explore and manage your devices.</p>
        </div>
        <form action="{% url 'Cellestial:Login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="action-buttons">
                <a onclick = "windw.alert('Womp Womp🐳?')">Forgot password?</a>
                <button type="submit" class="submit" name="sign_in">Login</button>
                <p>Don't have an account? <a href="{% url 'Cellestial:Register'%}">Register</a></p>
            </div>
        </form>
        <hr>
        <div class="continue">
            <button>
                <img src="{% static 'google.png' %}" alt="">
                Sign in with Google
            </button>
            <button>
                <img src="{% static 'facebook.png' %}" alt="">
                Sign in with Facebook
            </button>
            <button>
                <img src="{% static 'apple.png' %}" alt="">
                Sign in with Apple
            </button>
        </div>
        <h4> © 2024 CELLESTIAL</h4>
    </div>
</div>

<div class="right-container">
    <img src="{% static 'log/login.png' %}" alt="Phone in hand">                    
</div>
        

{% endblock %}
