<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cellestial | {%block title%}{%endblock%}</title>

    <base href="../../static/">
    <link re="icon" href="favicon.ico" />
    <link rel="stylesheet", type="text/css", href="css/media.css">
    <link rel="stylesheet", type="text/css", href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=mail" />
    
    {%block head%}
    
    {%endblock%}
</head>
<body>
    <header>
        <h1>Nigga</h1>
    </header>
    <main>
        {%block content%}
    
        {%endblock%}
    </main>
    <footer>

    </footer>

</body>
</html>