{%extends 'master.html' %}
{% load static %}

{% block title %}
Cart 
{% endblock %} 

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{%block content %}
<h2> Your cart </h2>
<div class="cart-content">
    
    <div class="cart-items">
        {% for items in cart_products %}
            <div class="cart-item">
                <div  class="item-img" >
                    <img src="{{items.image.url}}" alt="{{items.name}}">
                </div>
                <div class="item-info">
                    <h3>{{items.name}}</h3>
                    <p>Color: <span class="detail">White</span></p>
                    <p>Storage: <span class="detail">1TB</span></p>
                    <p class="price">₱{{items.price}}</p>
                </div>
                <div class="item-quantity">
                    <label>Quantity:</label>
                    <input title="quantity" type="number" value="{{items.quantity}}" min="1" >
                </div>
                <button class="delete" data-item-id="1">🗑️</button>
            </div>
        {% endfor %}
    </div>
    

    <aside class="order-summary">

        <h3>Order Summary</h3>

        <p>Subtotal <span> ₱{{ subtotal }} </span></p>
        <p>Discount (-20%) <span> -₱{{ discount }} </span></p>
        <p>Delivery Fee <span> ₱{{ delivery_fee }} </span></p>
        <p>Value Added Tax <span> ₱{{ vat }} </span></p>
        <p>Total <span> ₱{{ total }} </span></p>

        <input type="text" placeholder="Add promo code">

        <button>Apply</button>
        <button class="checkout-btn"> Go to Checkout ➔ </button>

    </aside>

</div>


{% endblock %}